<!DOCTYPE html>
<html>
<head>
    <title>User Login System</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <nav class='navbar'>
    <p class='title'>NodeAuth</p>
    <ul id='login-list'>
      <li class=(title==='Members' ? 'active' : '')><a href='/'><button class='login'>Members</button></a></li>
      <li class=(title==='Register' ? 'active' : '')><a href='users/register'><button class='login'>Register</button></a></li>
      <li class=(title==='Login' ? 'active' : '')><a href='users/login'><button class='login'>Login</button></a></li>
      <li class=(title==='Logout' ? 'active' : '')><a href='users/logout'><button class='login'>Logout</button></a></li>
    </ul>
  </nav>

  <block content>
</body>
</html>