<!DOCTYPE html>
<html>
<head>
    <title>User Login System</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

  <nav class='navbar'>
    <p class='title'>NodeAuth</p>
    <ul id='login-list'>
      <li><a href='/'><button class='btn-default'>Members</button></a></li>
      <li><a href='users/register'><button class='btn-default'>Register</button></a></li>
      <li><a href='users/login'><button class='btn-default'>Login</button></a></li>
      <li><a href='users/logout'><button class='btn-default'>Logout</button></a></li>
    </ul>
  </nav>
  
</body>
</html>