extends layout

block content
  .form-container
    p Login
    form(method='post', action='/users/register',enctype='multipart/form-data')
      .form-group
          label Username
          input.form-control(name='username', type='text')

      .form-group
          label Password
          input.form-control(name='password', type='text')
      input.btn-default.submit(name='submit', type='submit', value='Login')
