extends layout

block content
	posts
		each post, i in posts
				.post
					a.more(href='/posts/#{post._id}')
						h1.post-header=post.title
					.date
						i.fa.fa-clock-o
						p.time #{moment(post.date).format('MMMM.DD.YYYY')}
					img.post-img(src='/images/uploads/#{post.mainimage}')




