body {
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgba(0,0,0,.87);
  background: #fafafa;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

a {
  color: rgba(0,0,0,.54);
  text-decoration: none;
  transition: color .3s ease0out;
  -webkit-transition: color .3s ease-out;
  -moz-transition: color .3s ease-out;
}

a:hover {
	color: #304ffe;
	
}

.container {
	width: 100vw;
	height: 100vh;
	margin: 0;
}

.left-column {
	float: left;
	margin: 0;
	height: 100vh;
	width: 33vw;
	position: fixed;
}

.top-row {
	height: 50vh;
	border-bottom: 2px solid rgba(0,0,0,.12);
	background: #3F51B5;
}

.bottom-row {
	height: 60vh;
	border-right: 2px solid rgba(0,0,0,.12);
}

.logo {
	background: #fafafa;
	width: 70px;
	height: 100px;
	border-radius: 50%;
	border: 2px solid rgba(0,0,0,.12);
	margin: -50px auto 50px auto;
}

.nav {
	text-align: center;
	font-size: 18px;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	padding: 5px;
}

.copyright {
	font-size: 12px;
	margin: 0;
	bottom: 5px;
	position: absolute;
	padding-left: 15px;
	color: rgba(0,0,0,.54)
}

.right-column {
	float: right;
	margin: 0;
	padding: 0;
	width: 65vw;
}

.main-content {
	width: 45vw;
	margin: 5vh auto 0 auto;
	font-size: 20px;
	word-wrap: break-word;
}

.more {
	float: right;
	font-size: 15px;
}

.meta {
	font-size: 15px;
	margin: -25px 0 35px 0;
}

.post-header {
	margin-top: 55px;
}

.sticky-icons {
	bottom: 0;
	position: absolute;
	position: fixed;
}

.sticky-list {
	display: inline;
	padding-left: 0;
}

.sticky-list > li {
	float: left;
}

.sticky-list > li:nth-child(2){
	width: 54vw;
}